<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="com.cherish.demo.dao.SaleDao">

    <resultMap id="SaleOrderResultMap" type="com.cherish.demo.entity.sale.SaleOrder">
        <id property="orderId" column="order_id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderInsertTime" column="order_insert_time"/>
        <result property="orderReceivableTime" column="order_receivable_time"/>
        <result property="orderSendTime" column="order_send_time"/>
        <result property="orderDeliveryAddress" column="order_delivery_address"/>
        <result property="orderTotalMoney" column="order_total_money"/>
        <result property="orderDepositMoney" column="order_deposit_money"/>
        <result property="orderRemark" column="order_remark"/>
        <result property="orderUserId" column="order_user_id"/>
        <result property="orderStatusId" column="order_status_id"/>
        <result property="orderIsReceivableMoney" column="order_is_receivable_money"/>
        <result property="orderToReceivableMoney" column="order_to_receivable_money"/>
        <association property="saleOrderStatus" javaType="com.cherish.demo.entity.sale.SaleOrderStatus">
            <id property="statusId" column="status_id"/>
            <result property="statusName" column="status_name"/>
        </association>
        <association property="user" javaType="com.cherish.demo.entity.user.User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="userEnglishName" column="user_english_name"/>
            <result property="userPassword" column="user_password"/>
            <result property="userSex" column="user_sex"/>
            <result property="userBirth" column="user_birth"/>
            <result property="userOriginProvince" column="user_origin_province"/>
            <result property="userOriginCity" column="user_origin_city"/>
            <result property="userOriginArea" column="user_origin_area"/>
            <result property="userTel" column="user_tel"/>
            <result property="userStatus" column="user_status"/>
            <result property="userEntryTime" column="user_entry_time"/>
            <result property="userQuitTime" column="user_quit_time"/>
            <result property="userDeptId" column="user_dept_id"/>
            <result property="userPositionId" column="user_position_id"/>
            <association property="dept" javaType="com.cherish.demo.entity.user.Dept">
                <id property="deptId" column="dept_id"/>
                <result property="deptName" column="dept_name"/>
            </association>
            <association property="position" javaType="com.cherish.demo.entity.user.Position">
                <id property="positionId" column="position_id"/>
                <result property="positionName" column="position_name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="SaleOrderDetailResultMap" type="com.cherish.demo.entity.sale.SaleOrderDetail">
        <id property="detailId" column="detail_id"/>
        <result property="detailOrderNumber" column="detail_order_number"/>
        <result property="detailProduceId" column="detail_produce_id"/>
        <result property="detailProduceTypeId" column="detail_produce_type_id"/>
        <result property="detailProducePrice" column="detail_produce_price"/>
        <result property="detailProduceUnitId" column="detail_produce_unit_id"/>
        <result property="detailProduceNumber" column="detail_produce_number"/>
        <association property="produce" javaType="com.cherish.demo.entity.basic.Produce">
            <id property="produceId" column="produce_id"/>
            <result property="produceName" column="produce_name"/>
            <result property="produceMaterialId" column="produce_material_id"/>
        </association>
        <association property="produceType" javaType="com.cherish.demo.entity.basic.ProduceType">
            <id property="produceTypeId" column="produce_type_id"/>
            <result property="produceTypeName" column="produce_type_name"/>
        </association>
        <association property="unit" javaType="com.cherish.demo.entity.basic.Unit">
            <id property="unitId" column="unit_id"/>
            <result property="unitName" column="unit_name"/>
        </association>
    </resultMap>

    <insert id="insertSaleOrder" parameterType="com.cherish.demo.entity.sale.SaleOrder">
        insert into samoyed_sale_order( order_number,order_insert_time,
        order_receivable_time,order_send_time,order_delivery_address,order_total_money,order_deposit_money,order_remark,
        order_user_id, order_status_id ) values( #{orderNumber},#{orderInsertTime},#{orderReceivableTime},
        #{orderSendTime},#{orderDeliveryAddress},#{orderTotalMoney},#{orderDepositMoney},#{orderRemark}, #{orderUserId},
        #{orderStatusId} );
    </insert>

    <insert id="insertSaleOrderDetail" parameterType="com.cherish.demo.entity.sale.SaleOrderDetail">
        insert into samoyed_sale_order_detail(
        detail_order_number,detail_produce_id,detail_produce_type_id,detail_produce_price,detail_produce_unit_id,detail_produce_number
        )values(
        #{detailOrderNumber},#{detailProduceId},#{detailProduceTypeId},#{detailProducePrice},#{detailProduceUnitId}
        ,#{detailProduceNumber});
    </insert>

    <update id="updateSaleOrderStatus" parameterType="com.cherish.demo.entity.sale.SaleOrder">
        update samoyed_sale_order set order_status_id= #{orderStatusId} where order_number= #{orderNumber}
    </update>

    <update id="updateSaleOrderMoney" parameterType="com.cherish.demo.entity.sale.SaleOrder">
        update samoyed_sale_order set order_is_receivable_money= #{orderIsReceivableMoney},
        order_to_receivable_money=#{orderToReceivableMoney} where order_number= #{orderNumber}
    </update>

    <select id="selectSaleOrderByOrderNumber" parameterType="String" resultMap="SaleOrderResultMap">
        select * from samoyed_sale_order a
        left join samoyed_user_user b on a.order_user_id=b.user_id
        left join samoyed_user_dept c on b.user_dept_id=c.dept_id
        left join samoyed_user_position d on b.user_position_id= d.position_id
        left join samoyed_sale_order_status e on a.order_status_id=e.status_id
        where 1=1
        <if test="_parameter !=0 and _parameter != 0">
            and a.order_number=#{orderNumber}
        </if>
    </select>

    <select id="selectAllSaleOrder" parameterType="String" resultMap="SaleOrderResultMap">
        select * from samoyed_sale_order a
        left join samoyed_user_user b on a.order_user_id=b.user_id
        left join samoyed_user_dept c on b.user_dept_id=c.dept_id
        left join samoyed_user_position d on b.user_position_id= d.position_id
        left join samoyed_sale_order_status e on a.order_status_id=e.status_id
        where 1=1
        <if test="_parameter !=0 and _parameter != 0">
            and a.order_status_id=#{statusId}
        </if>
    </select>

    <select id="selectSaleOrderDetailByOrderNumber" parameterType="String" resultMap="SaleOrderDetailResultMap">
        select * from samoyed_sale_order_detail a
        left join samoyed_basic_produce b on a.detail_produce_id=b.produce_id
        left join samoyed_basic_produce_type c on a.detail_produce_type_id=c.produce_type_id
        left join samoyed_basic_unit d on a.detail_produce_unit_id=d.unit_id
        where a.detail_order_number=#{orderNumber}
    </select>

    <select id="selectAllIsPayDepositSaleOrder" parameterType="String" resultMap="SaleOrderResultMap">
        select * from samoyed_sale_order a
        left join samoyed_user_user b on a.order_user_id=b.user_id
        left join samoyed_user_dept c on b.user_dept_id=c.dept_id
        left join samoyed_user_position d on b.user_position_id= d.position_id
        left join samoyed_sale_order_status e on a.order_status_id=e.status_id
        where a.order_status_id=2
    </select>

    <select id="selectAllIsPayFinalSaleOrder" parameterType="String" resultMap="SaleOrderResultMap">
        select * from samoyed_sale_order a
        left join samoyed_user_user b on a.order_user_id=b.user_id
        left join samoyed_user_dept c on b.user_dept_id=c.dept_id
        left join samoyed_user_position d on b.user_position_id= d.position_id
        left join samoyed_sale_order_status e on a.order_status_id=e.status_id
        where a.order_status_id=4
    </select>

    <select id="selectAllIsSuccessSaleOrder" parameterType="String" resultMap="SaleOrderResultMap">
        select * from samoyed_sale_order a
        left join samoyed_user_user b on a.order_user_id=b.user_id
        left join samoyed_user_dept c on b.user_dept_id=c.dept_id
        left join samoyed_user_position d on b.user_position_id= d.position_id
        left join samoyed_sale_order_status e on a.order_status_id=e.status_id
        where a.order_total_money=a.order_is_receivable_money
    </select>


</mapper>