<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="com.cherish.demo.dao.WareHouseDao">

    <resultMap id="WareHouseMaterialResultMap" type="com.cherish.demo.entity.warehouse.WareHouseMaterial">
        <id property="id" column="id"/>
        <result property="materialId" column="material_id"/>
        <result property="materialNumber" column="material_number"/>
    </resultMap>

    <resultMap id="WareHouseProduceResultMap" type="com.cherish.demo.entity.warehouse.WareHouseProduce">
        <id property="id" column="id"/>
        <result property="produceId" column="produce_id"/>
        <result property="produceTypeId" column="produce_type_id"/>
        <result property="produceNumber" column="produce_number"/>
    </resultMap>

    <resultMap id="WareHouseWasteResultMap" type="com.cherish.demo.entity.warehouse.WareHouseWaste">
        <id property="id" column="id"/>
        <result property="wasteNumber" column="waste_number"/>
    </resultMap>

    <update id="updateAddWareHouseMaterial" parameterType="com.cherish.demo.entity.warehouse.WareHouseMaterial">
        update samoyed_warehouse_material set material_number=#{materialNumber}+material_number where
        material_id=#{materialId}
    </update>

    <update id="updateReduceWareHouseMaterial" parameterType="com.cherish.demo.entity.warehouse.WareHouseMaterial">
        update samoyed_warehouse_material set material_number=material_number-#{materialNumber} where
        material_id=#{materialId}
    </update>

    <update id="updateAddWareHouseProduce" parameterType="com.cherish.demo.entity.warehouse.WareHouseProduce">
        update samoyed_warehouse_produce set produce_number=#{produceNumber}+produce_number where
        produce_id=#{produceId} and produce_type_id=#{produceTypeId}
    </update>

    <update id="updateReduceWareHouseProduce" parameterType="com.cherish.demo.entity.warehouse.WareHouseProduce">
        update samoyed_warehouse_produce set produce_number=produce_number-#{produceNumber} where
        produce_id=#{produceId} and produce_type_id=#{produceTypeId}
    </update>

    <update id="updateAddWareHouseWaste" parameterType="com.cherish.demo.entity.warehouse.WareHouseWaste">
        update samoyed_warehouse_waste set waste_number=#{wasteNumber}+waste_number
    </update>

    <select id="selectWareHouseMaterial" parameterType="String" resultMap="WareHouseMaterialResultMap">
        select * from samoyed_warehouse_material where material_id=#{materialId}
    </select>

    <select id="selectWareHouseProduce" parameterType="com.cherish.demo.entity.warehouse.WareHouseProduce" resultMap="WareHouseProduceResultMap">
        select * from samoyed_warehouse_produce where produce_id=#{produceId} and produce_type_id=#{produceTypeId}
    </select>


</mapper>